<phpunit
    bootstrap="./bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    verbose="false">

    <testsuite name="Application">
        <directory>./application</directory>
    </testsuite>
    <testsuite name="Library">
        <directory>./library</directory>
    </testsuite>
    <testsuite name="Data translate">
        <directory>./data/locales</directory>
    </testsuite>
    
    <filter>
        <blacklist>
            <directory>../vendor</directory>
            <directory>../tests</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">../application</directory>
            <directory suffix=".php">../library</directory>
            <exclude>
                <file>../application/controllers/ErrorController.php</file>
                <file>../application/controllers/IndexController.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="log/report" lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="log/coverage.xml"/>
        <log type="coverage-php" target="log/coverage.serialized"/>
        <log type="json" target="log/logfile.json"/>
        <log type="tap" target="log/logfile.tap"/>
        <log type="junit" target="log/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="log/testdox.html"/>
        <log type="testdox-text" target="log/testdox.txt"/>
    </logging> 
</phpunit>
